/* General Reset */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('https://img.freepik.com/free-vector/gradient-geometric-background_52683-83226.jpg?t=st=1736280865~exp=1736284465~hmac=2d399872ec769b239898f30d768483b70d6e5da61d5acb60087260daaa837bc8&w=1380');
    background-attachment: fixed;
    background-size: cover; /* Ensures the image covers the entire screen */
    background-position: center; /* Keeps the image centered */
    line-height: 1.6;
}



/* Header */
header {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 20px 0;
}
header h1 {
    font-size: 2.5rem;
}

/* Navigation */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: underline;
}
.hero {
    color: #ffffff;
    padding: 60px 20px;
    text-align: center;
}

.hero h2 {
    font-size: 3rem;
}

/* Main Content */
.container {
    padding: 30px;
}

.container h2 {
    font-size: 1.5rem;
    margin: 20px 0;
}

.container a {
    color: #000000;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}